.height-button {
  height: fit-content;
  white-space: normal;
  padding: 16px;
  margin: 8px 0 8px;
}

.title-height-button {
  text-align: left;
  font-weight: bold;
  margin: 8px 0 4px 0;
}

.text-height-button {
  text-align: left;
  line-height: 20px;
  font-size: 14px;
}

.height-button-all {
  display: flex;
}

.height-button-content {
  flex: 0 0 85%;
}

.height-button-icon {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collaboration {
  background-image: linear-gradient(
      to right,
      rgba(83, 173, 62, 0.88),
      rgba(31, 78, 18, 0.88)
    ),
    url("../../../assets/images/collaboration.jpg");
  background-size: cover;
  background-position-y: 30%;
}

.collaboration:hover {
  background-image: linear-gradient(
      to right,
      rgba(93, 183, 72, 0.88),
      rgba(41, 88, 28, 0.88)
    ),
    url("../../../assets/images/collaboration.jpg");
  background-size: cover;
  background-position-y: 45%;
  transition: 0.7s;
}

.people {
  background-image: linear-gradient(
      to right,
      rgba(83, 173, 62, 0.88),
      rgba(31, 78, 18, 0.88)
    ),
    url("../../../assets/images/people.jpg");
  background-size: cover;
}

.people:hover {
  background-image: linear-gradient(
      to right,
      rgba(93, 183, 72, 0.88),
      rgba(41, 88, 28, 0.88)
    ),
    url("../../../assets/images/people.jpg");
  background-size: cover;
  background-position-y: 15%;
  transition: 0.7s;
}

.analisys {
  background-image: linear-gradient(
      to right,
      rgba(83, 173, 62, 0.88),
      rgba(31, 78, 18, 0.88)
    ),
    url("../../../assets/images/analisys.jpg");
  background-size: cover;
  background-position-y: 30%;
}

.analisys:hover {
  background-image: linear-gradient(
      to right,
      rgba(93, 183, 72, 0.88),
      rgba(41, 88, 28, 0.88)
    ),
    url("../../../assets/images/analisys.jpg");
  background-size: cover;
  background-position-y: 45%;
  transition: 0.7s;
}

@media only screen and (max-width: 500px) {
  .col-logo {
    display: none;
  }
}
