.map-container { 
  height: 60%; 
  width: 100%;
}

.steps-action {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.steps-content {
  margin: 32px 0 12px 0;
}

.my-stepper {
  display: flex;
  flex-direction: row !important;
}

