@import "~antd/dist/antd.less";
@import url("https://fonts.googleapis.com/css?family=Roboto:wght@200..900&display=swap");

body {
  background-color: #e7e7e7;
  font-family: "Roboto";
}

.vertical-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.vertical-bottom {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.primary-button {
  background-image: linear-gradient(to right, #53ad3e, #1a420f);
  border: 0;
}

.secondary-button {
  color: #338221;
  border-color: #338221;
}

.secondary-button:hover {
  // background-color: #dddddd;
  // transition: 0.5s;
}
